<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industrija</title>
</head>
<body>
    <center>
        <h1>Industrija d.o.o.</h1>
    </center>
    <center>
        <div>
            <a href="/">Naslovnica</a> |
            <a href="/about">O nama</a> |
            <a href="/contact">Kontakt</a>
        </div>
    </center>
    {{{body}}}
</body>
</html>